.same-bg {
  position: fixed;
  width: 100%;
  height: 100%;
}
.bg {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: url(../image/bg.jpg) no-repeat;
  background-size: cover;
  bgckground-attachment: fixed;
}
.bgc {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: rgba(92, 180, 142, 0.4);
}
header {
  width: 100%;
  position: relative;
  z-index: 10;
  padding: 14px 0;
  background-color: rgba(0, 0, 0, 0.7);
}
header p {
  color: #fff;
}
header p a {
  color: #5cb48e;
}
header p a:hover {
  color: #5cb48e;
  text-decoration: none;
}
header .icons {
  text-align: right;
}
header .icons li {
  display: inline-block;
  margin-left: 15px;
}
header .icons li a {
  color: #fff;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
header .icons li a:hover {
  text-decoration: none;
}
header .icons li:nth-child(1) a:before {
  content: "\f09a";
}
header .icons li:nth-child(2) a:before {
  content: "\f099";
}
header .icons li:nth-child(3) a:before {
  content: "\f0e1";
}
header .icons li:nth-child(4) a:before {
  content: "\f17d";
}
header .icons li:nth-child(5) a:before {
  content: "\f09e";
}
.four-icon li:nth-child(1) a:before {
  content: "\f09a";
}
.four-icon li:nth-child(2) a:before {
  content: "\f099";
}
.four-icon li:nth-child(3) a:before {
  content: "\f0e1";
}
.four-icon li:nth-child(4) a:before {
  content: "\f17d";
}
.same-icons {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.same-lis-icons li:nth-child(1) i:before {
  content: "\f015";
}
.same-lis-icons li:nth-child(2) i:before {
  content: "\f007";
}
.same-lis-icons li:nth-child(3) i:before {
  content: "\f030";
}
.same-lis-icons li:nth-child(4) i:before {
  content: "\f0e0";
}
.nav-menu {
  position: relative;
  text-align: center;
  z-index: 99;
  margin-top: 60px;
  margin-bottom: 60px;
}
.nav-menu a {
  color: #fff !important;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 30px;
  text-transform: uppercase;
  display: inline-block;
  font-family: 'robotoregular';
}
.nav-menu a i {
  margin-right: 15px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.nav-menu a i:before {
  content: "\f0c9";
}
.nav-menu .show-menu {
  background: rgba(92, 180, 142, 0.5);
  display: none;
}
.nav-menu .show-menu li {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15);
}
.nav-menu .show-menu li a {
  padding: 15px  20px;
  display: inline-block;
  width: 90%;
  color: #fff;
  text-transform: uppercase;
  font-size: 16px;
  background: transparent;
}
.nav-menu .show-menu li a i {
  margin-right: 15px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.nav-menu .show-menu li:nth-child(1) i:before {
  content: "\f015";
}
.nav-menu .show-menu li:nth-child(2) i:before {
  content: "\f007";
}
.nav-menu .show-menu li:nth-child(3) i:before {
  content: "\f030";
}
.nav-menu .show-menu li:nth-child(4) i:before {
  content: "\f0e0";
}
.same-fam {
  font-family: 'robotolight';
  color: #fff;
  font-weight: 400;
}
.same-box {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.sec_tit {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.sec_four_icon {
  margin-top: 30px;
}
.sec_four_icon li {
  display: inline-block;
  margin-bottom: 3px;
}
.sec_four_icon li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #333;
  background: #ddd;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.sec_four_icon li a:hover {
  text-decoration: none;
}
.main {
  position: relative;
  z-index: 12;
  margin-top: 60px;
}
.main .cont .logo {
  position: relative;
  margin-top: 120px;
  margin-left: 45%;
}
.main .cont .sec1 {
  text-align: center;
}
.main .cont .sec1 .sec1_text {
  position: relative;
  margin-top: 60px;
}
.main .cont .sec1 .sec1_text h2 {
  font-size: 32px;
  margin-bottom: 30px;
  font-family: 'robotolight';
  color: #fff;
  font-weight: 400;
}
.main .cont .sec1 .sec1_text p {
  font-size: 18px;
  font-family: 'robotolight';
  color: #fff;
  font-weight: 400;
}
.main .cont .sec1 .sec1_text form {
  margin-top: 80px;
}
.main .cont .sec1 .sec1_text form input[type="email"] {
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  border: 1px solid #fff;
  padding: 10px 15px;
  width: 100%;
  display: inline-block;
  font-size: 14px;
  line-height: normal;
}
.main .cont .sec1 .sec1_text form .button {
  text-align: left;
}
.main .cont .sec1 .sec1_text form .button input {
  background: #5cb48e;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 10px;
  line-height: normal;
}
.main .cont .sec1 .sec1_text form p {
  font-family: 'robotolight';
  color: #fff;
  font-weight: 400;
  margin-top: 20px;
  font-size: 12px;
}
.main .cont .sec_same {
  display: none;
}
.main .cont .sec2 .sec2_l {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
  overflow: hidden;
}
.main .cont .sec2 .sec2_l h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec2 .sec2_l .me {
  width: 200px;
  height: 200px;
  border: 3px solid #ddd;
  overflow: hidden;
  margin-right: 25px;
  float: left;
}
.main .cont .sec2 .sec2_l .me img {
  width: 100%;
  display: block;
}
.main .cont .sec2 .sec2_l .jieshao {
  overflow: hidden;
}
.main .cont .sec2 .sec2_l .jieshao h5 {
  font-family: 'robotoregular';
  font-size: 18px;
  color: #333;
}
.main .cont .sec2 .sec2_l .jieshao > span {
  font-size: 12px;
  margin-bottom: 20px;
  display: block;
}
.main .cont .sec2 .sec2_r {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.main .cont .sec2 .sec2_r h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec2 .sec2_r .sec2_r_icon {
  margin-top: 30px;
}
.main .cont .sec2 .sec2_r .sec2_r_icon li {
  display: inline-block;
  margin-bottom: 3px;
}
.main .cont .sec2 .sec2_r .sec2_r_icon li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #333;
  background: #ddd;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.main .cont .sec2 .sec2_r .sec2_r_icon li a:hover {
  text-decoration: none;
}
.main .cont .sec2 .sec2_r .sec2_r_icon li:nth-child(1) a:before {
  content: "\f09a";
}
.main .cont .sec2 .sec2_r .sec2_r_icon li:nth-child(2) a:before {
  content: "\f099";
}
.main .cont .sec2 .sec2_r .sec2_r_icon li:nth-child(3) a:before {
  content: "\f0e1";
}
.main .cont .sec2 .sec2_r .sec2_r_icon li:nth-child(4) a:before {
  content: "\f17d";
}
.main .cont .sec2 .sec2_r .sec2_r_icon ul li a:before {
  line-height: 42px;
}
.main .cont .sec2 .sec2_l_b {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.main .cont .sec2 .sec2_l_b h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec2 .sec2_l_b .pro_img {
  position: relative;
  overflow: hidden;
}
.main .cont .sec2 .sec2_l_b .pro_img:hover .pro_hover {
  visibility: visible;
  opacity: 1;
  bottom: 0;
}
.main .cont .sec2 .sec2_l_b .pro_img img {
  width: 100%;
  height: 177px;
  display: block;
}
.main .cont .sec2 .sec2_l_b .pro_img .pro_hover {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  padding: 14px 20px;
  transition: all 200ms linear;
}
.main .cont .sec2 .sec2_l_b .pro_img .pro_hover h4 {
  color: #fff;
}
.main .cont .sec2 .sec2_r_b {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.main .cont .sec2 .sec2_r_b h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec2 .sec2_r_b span {
  font-size: 13px;
  color: #5cb48e;
}
.main .cont .sec2 .sec2_r_b div {
  height: 10px;
  border-radius: 0;
  box-shadow: none;
  background: #e8f4ef;
  margin-bottom: 10px;
  overflow: hidden;
}
.main .cont .sec2 .sec2_r_b div .progress-bar {
  box-shadow: none;
  background: #5cb48e;
}
.main .cont .sec3 .swiper-container {
  width: 70%;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}
.main .cont .sec3 .swiper-container img {
  width: 100%;
  height: 296px;
}
.main .cont .sec3 .row .third {
  position: relative;
  margin-top: 1% ;
  padding: 2%;
  cursor: pointer;
  transition: all 0.5s ease 0s;
}
.main .cont .sec3 .row .third .third_icon {
  width: 92px;
  margin: 0 auto;
}
.main .cont .sec3 .row .third .third_icon i {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  display: block;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  font-size: 40px;
  line-height: 80px;
  text-align: center;
  transition: all 0.5s ease 0s;
  border: 3px solid #3B5998;
  color: #3B5998;
  background: #fff;
}
.main .cont .sec3 .row .third .third_icon .one:before {
  content: "\f02b";
}
.main .cont .sec3 .row .third .third_icon .two:before {
  content: "\f085";
}
.main .cont .sec3 .row .third .third_icon .three:before {
  content: "\f0b2";
}
.main .cont .sec3 .row .third .third_cont h6 {
  text-transform: uppercase;
  font-weight: 400;
  margin: 10px 0 13px 0;
  text-align: center;
  color: #fff;
  font-size: 18px !important;
}
.main .cont .sec3 .row .third .third_cont p {
  text-align: center;
  border-left: 0;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  color: #333;
  font-family: 'Lato', sans-serif;
}
.main .cont .sec4 .sec4_l {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.main .cont .sec4 .sec4_l h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec4 .sec4_l input,
.main .cont .sec4 .sec4_l textarea {
  width: 100%;
  outline: none;
  padding: 8px 10px;
  margin-bottom: 20px;
  border: 1px solid #dddddd;
  font-size: 100%;
  max-width: 100%;
  vertical-align: baseline;
}
.main .cont .sec4 .sec4_l input {
  line-height: normal;
}
.main .cont .sec4 .sec4_l input[type="submit"] {
  width: auto;
  color: white;
  background: #5cb48e;
  text-transform: uppercase;
  border: 0;
  outline: 0;
  margin-bottom: 0;
  padding: 12px 18px;
}
.main .cont .sec4 .sec4_r {
  background: #fff;
  color: #555;
  font-family: 'robotolight';
  padding: 30px;
  margin-top: 30px;
}
.main .cont .sec4 .sec4_r h3 {
  font-size: 22px;
  color: #333;
  margin-bottom: 30px;
  font-weight: 400;
  font-family: 'robotolight';
}
.main .cont .sec4 .sec4_r .sec4_r_icon {
  margin-top: 30px;
}
.main .cont .sec4 .sec4_r .sec4_r_icon li {
  display: inline-block;
  margin-bottom: 3px;
}
.main .cont .sec4 .sec4_r .sec4_r_icon li a {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #333;
  background: #ddd;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
.main .cont .sec4 .sec4_r .sec4_r_icon li a:hover {
  text-decoration: none;
}
.main .cont .sec4 .sec4_r .sec4_r_icon li:nth-child(1) a:before {
  content: "\f09a";
}
.main .cont .sec4 .sec4_r .sec4_r_icon li:nth-child(2) a:before {
  content: "\f099";
}
.main .cont .sec4 .sec4_r .sec4_r_icon li:nth-child(3) a:before {
  content: "\f0e1";
}
.main .cont .sec4 .sec4_r .sec4_r_icon li:nth-child(4) a:before {
  content: "\f17d";
}
.main .cont .sec4 .sec4_r .sec4_r_icon ul li a:before {
  line-height: 42px;
}
.main nav li {
  margin-bottom: 30px;
}
.main nav li a {
  display: block;
  width: 170px;
  height: 170px;
  text-align: center;
  color: #fff;
  font-size: 18px;
  margin: 0 auto;
}
.main nav li a:hover {
  text-decoration: none;
}
.main nav li a i {
  padding-top: 50px;
  display: block;
  font-size: 36px;
  margin-bottom: 10px;
  font-family: FontAwesome;
}
.main nav li:nth-child(1) a {
  background: #207d59;
}
.main nav li:nth-child(2) a {
  background: #3b5b8e;
}
.main nav li:nth-child(3) a {
  background: #5c9faf;
}
.main nav li:nth-child(4) a {
  background: #b85b53;
}
.main nav li:nth-child(1) i:before {
  content: "\f015";
}
.main nav li:nth-child(2) i:before {
  content: "\f007";
}
.main nav li:nth-child(3) i:before {
  content: "\f030";
}
.main nav li:nth-child(4) i:before {
  content: "\f0e0";
}
footer {
  position: relative;
  z-index: 11;
  padding: 14px 0;
  background: rgba(0, 0, 0, 0.7);
  margin-top: 30px;
}
footer .foot_txt {
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 992px) {
  header p {
    text-align: center;
  }
  header .icons {
    text-align: center;
    margin-top: 20px;
  }
  .main {
    margin-top: 0;
  }
  .main .cont .logo {
    margin-top: 0 !important;
    margin-left: 0 !important;
    text-align: center;
  }
  .main .cont .sec1 .sec1_text form .button {
    margin-top: 20px;
    text-align: center;
  }
}
@media screen and (max-width: 768px) {
  .main .cont .sec2 .sec2_l .me {
    float: none;
    margin-bottom: 25px;
    width: 80%;
    height: auto;
    text-align: center;
  }
  .main .cont .sec3 .swiper-container {
    width: 100%;
  }
}
/*# sourceMappingURL=index.css.map */